<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Edit person</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<a href="/">Home</a>

		<form method="post" action="/people/<%= _id %>">
			<input type="hidden" name="_method" value="PUT" />
			<input type="hidden" name="type" value="<%= type %>" />
			<input type="hidden" name="_rev" value="<%= _rev %>" />

			<input type="hidden" name="firstName" value="<%= firstName %>" />
			<input type="hidden" name="lastName" value="<%= lastName %>" />

			<p><%- firstName %> <%- lastName %></p>
			<p>Next followup:</p>

			<input type="submit" />
		</form>		
	</body>
</html>