<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Client Followup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-modal.css">
		<link rel="stylesheet" href="/css/font-awesome.css">
		<link rel="stylesheet" href="/css/followup.css">
		<link rel="stylesheet" href="/css/select2.css">
		<link rel="stylesheet" href="/css/datetimepicker.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><i class="icon-beaker"></i> Followups</a>
			</div>		
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="/people/<%= _id %>/edit" class="btn btn-link">
							<i class="icon-edit"></i>
							Edit Contact
						</a>
					</li>
					<li>
						<form action="/people/<%= _id %>" method="POST">
							<input type="hidden" name="_method" value="DELETE" />
							<input type="hidden" name="rev" value="<%= _rev %>" /> 
							<button type="submit" class="btn btn-link navbar-btn">
								<i class="icon-trash"></i>
								Delete Contact
							</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>	

		<form method="post" action="/people/<%= _id %>/followup" style="margin-top: 50px;">
			<nav class="navbar navbar-default navbar-fixed-top" style="top: 50px; padding: 15px; border-top: solid 1px #ddd; z-index: 1;">
				<div class="btn-toolbar">
					<div class="btn-group col-xs-7 col-sm-3">
						<button type="submit" class="btn btn-primary">
							<i class="icon-save"></i>
							Save
						</button>
						<a href="/" class="btn btn-default">
							<i class="icon-undo"></i>
							Cancel
						</a>
					</div>
					<h3 style="display: inline-block; margin: auto; padding: 0;" class="col-xs-5 col-sm-9">Client Followup</h3>
				</div>
			</nav>

			<input type="hidden" name="_method" value="PUT" />
			<input type="hidden" name="_rev" value="<%= _rev %>" />

			<fieldset>
				<legend><%- firstName %> <%- lastName %></legend>
				<address>
					<h4><%- organization %></h4>
					<% if(address) { %>
						<% if(address.street) { %>
							<%- address.street %>
							<br />
						<% } %>
						<%- address.city %>
						<% if(address.city && address.province) { print(', '); } %>
						<%- address.province %>
						<% if(address.city && address.province) { %>
							<br />
						<% } %>
					<% } %>
					<% if(email) { %>
						<div>
							<abbr title="Email">E:</abbr>
							<a href="mailto:<%= email %>">
								<%= email %>
							</a>
						</div>
					<% } %>
					<% if(phones) { %>
						<% phones.forEach(function(phone) { %>
							<% if(phone.number) { %>
								<div>
									<abbr title="<%= phone.type%>"><%= phone.abbreviation %>:</abbr>
									<a href="tel:<%= phone.number %>"><%= phone.number %></a>
								</div>
							<% } %>
						<% }) %>						
					<% } %>
				</address>

				<% if(contacts && contacts.length) { %>
				<label class="control-label col-xs-12">Previous Contacts:</label>
				<br />
				<table class="table table-striped" style="width: auto;">
					<% contacts.forEach(function(contact) { %>
						<tr>
							<td><i class="<%= contact.icon %>"></i></td>
							<td><%= contact.dateTimeString %></td>
							<td><%- contact.notes %></td>
						</tr>
					<% }) %>
				</table>
				<% } %>
			</fieldset>

			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 col-md-2">Tags:</label>
				<input type="hidden" name="tags" class="col-xs-12 col-sm-6 col-md-4" data-placeholder="Tags" value="<%= tags %>" />
				<div class="clearfix"></div>
			</div>

			<fieldset>
				<legend>Record contact:</legend>

				<div class="form-group dateSection">					
					<input type="hidden" name="contact[type]" value="<%= nextContact.type %>" />
					<input type="hidden" name="contact[date]" value="<%= nextContact.date %>" />
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Date/Time:</label>
					<div class="input-append date col-xs-12 col-sm-3 col-lg-2" style="padding-left: 0;">
						<input type="text" value="<%= nextContact.dateTimeString %>" class="form-control" style="width: -webkit-calc(100% - 25px); width: calc(100% - 25px); display: inline-block;">
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Notes:</label>
					<textarea name="contact[notes]" rows="3" class="form-control col-xs-12 col-sm-6 col-md-4"></textarea>
				</div>

				
			</fieldset>

			<fieldset>
				<legend>Next followup:</legend>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="nextContact[type]" value="schedule" checked />
						<i class="icon-calendar"></i>
						Schedule
					</label>
					<label class="radio-inline">
						<input type="radio" name="nextContact[type]" value="meeting" />
						<i class="icon-group"></i>
						Meeting
					</label>
					<label class="radio-inline">
						<input type="radio" name="nextContact[type]" value="call" />
						<i class="icon-phone"></i>
						Call
					</label>
					<label class="radio-inline">
						<i class="icon-envelope"></i>
						<input type="radio" name="nextContact[type]" value="email" />
						Email
					</label>

					<div class="checkbox confirmGroup hide">
						<label>
							<input type="checkbox" name="nextContact[confirmed]" value="true" />
							Confirmed
						</label>
					</div>
				</div>
				
				<div class="form-group dateSection">
					<input type="hidden" name="nextContact[date]" value="<%= nextContact.nextScheduledDate %>" />
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Date/Time:</label>
					<div class="input-append date col-xs-12 col-sm-3 col-lg-2" style="padding-left: 0;">
						<input type="text" class="form-control" style="width: -webkit-calc(100% - 25px); width: calc(100% - 25px); display: inline-block;" value="<%= nextContact.nextScheduledDateString %>" />
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Reason:</label>
					<input type="text" name="nextContact[reason]" placeholder="Reason" class="form-control col-xs-12 col-sm-6 col-md-4" />
				</div>
			</fieldset>			
		</form>	
		<script src="/js/jquery-1.10.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/select2.js"></script>
		<script src="/js/bootstrap-datetimepicker.js"></script>
		<script>
			$(function() {
				$('.navbar form').on('submit', function(e) {
					if(!confirm('Are you sure you want to delete this Client?')) {
						e.preventDefault();
						return false;
					}
				});

				$('input[name=tags]').select2({
					tags: [<%= all_tags %>]
				})

				//$('div.date').datetimepicker();

				$(document).on('click', 'input[type=radio][name="nextContact[type]"]', function(e) {
					var canConfirm = (e.currentTarget.value === 'meeting' || e.currentTarget.value === 'call'),
						method = canConfirm ? 'removeClass' : 'addClass',
						$confirmContainer = $('.confirmGroup');

					$confirmContainer[method]('hide');
					$confirmContainer.find('input').prop('checked', canConfirm);
				});

				$(document).on('change', '.dateSection input[type=text]', function(e) {
					var value = e.currentTarget.value,						
						$hdn = $(e.currentTarget).parents('.form-group').find('input[type=hidden][name*=date]'),
						date = moment(value, 'MMM D, YYYY h:mm A'),
						isoString = date.format();

					$hdn.val(isoString);
				});
			});
		</script>	
	</body>
</html>