<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>New Client</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-modal.css">
		<link rel="stylesheet" href="/css/font-awesome.css">
		<link rel="stylesheet" href="/css/select2.css">
		<link rel="stylesheet" href="/css/followup.css">
		<style>
			a.navbar-brand { padding-top: 10px; }
			.navbar-nav.btn-group {
				margin-left: 0;
				padding-top: 0;
			}
		</style>
	</head>
	<body>
		<form method="post" action="/people" class="form-horizontal">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header">			
					<a class="navbar-brand" href="/"><i class="icon-home"></i> </a>
					<a class="navbar-brand" style="color: #ddd;">&nbsp;|&nbsp;</a>
					<div class="navbar-nav btn-group" style="margin-left: 0;">
						<button type="submit" class="btn btn-primary navbar-btn">
							<i class="icon-save"></i>
							Save
						</button>
						<a href="/" class="btn btn-default navbar-btn">
							<i class="icon-undo"></i>
							Cancel
						</a>
					</div>
				</div>			
			</nav>		
				
			<input type="hidden" name="type" value="person" />

			<fieldset>
				<legend>New Client</legend>
			

				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-1">Name:</label>
					<div class="col-xs-12 col-sm-3 col-md-2">
						<input type="text" name="firstName" placeholder="First Name" class="form-control" autofocus	 />
					</div>
					<div class="col-xs-12 col-sm-3 col-md-2">
						<input type="text" name="lastName" placeholder="Last Name" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-1">Company:</label>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<input type="text" name="organization" placeholder="Company" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-1">Address:</label>
					<div class="col-xs-12 col-sm-4 col-md-3">
						<input type="text" name="address[street]" placeholder="Street Address" class="form-control" />
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2">
						<input type="text" name="address[city]" placeholder="City" class="form-control" />
					</div>
					<input type="hidden" name="address[province]" value="ON" />
				</div>

				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-1">Phone:</label>
					<input type="hidden" name="phones[0][type]" value="Phone" />
					<div class="col-xs-12 col-sm-3 col-md-2">
						<input type="phone" name="phones[0][number]" placeholder="Phone" class="form-control" />
					</div>
					<div class="clearfix"></div>

					<label class="control-label col-xs-12 col-sm-3 col-md-1">Cell:</label>
					<input type="hidden" name="phones[1][type]" value="Cell" />
					<div class="col-xs-12 col-sm-3 col-md-2">
						<input type="phone" name="phones[1][number]" placeholder="Cell" class="form-control" />
					</div>
					<div class="clearfix"></div>

					<label class="control-label col-xs-12 col-sm-3 col-md-1">Email:</label>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<input type="phone" name="email" placeholder="Email" class="form-control" />
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-1">Tags:</label>
					<input type="hidden" name="tags" class="col-xs-12 col-sm-6 col-md-4" data-placeholder="Tags" />
					<div class="clearfix"></div>
				</div>
			</fieldset>
			<fieldset class="createFollowup">
				<label class="control-label col-xs-12 col-sm-3 col-md-1">&nbsp;</label>
				<div class="checkbox">
					<label>
						<input type="checkbox" checked> Create Followup
					</label>
				</div>
				<label class="control-label col-xs-12 col-sm-3 col-md-1">Each:</label>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<select name="interval" class="form-control">
						<option value="">Never</option>
						<option value="w">Week</option>
						<option value="m">Month</option>
						<option value="q" selected>Quarter</option>
						<option value="y">Year</option>
					</select>
				</div>
				<div class="clearfix"></div>

				<label class="control-label col-xs-12 col-sm-3 col-md-1">&nbsp;</label>
				<span class="help-block col-xs-12 col-sm-6 col-md-4"></span>
				<div class="clearfix"></div>
			</fieldset>
			<fieldset class="nextContact">
				<legend>Next followup:</legend>
				<input type="hidden" name="nextContact[type]" value="schedule" />
				<div class="form-group dateSection">					
					<input type="hidden" name="nextContact[date]" value="<%= today %>" />
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Date/Time:</label>
					<div class="input-append date col-xs-12 col-sm-4 col-lg-3" style="padding-left: 0;">
						<input type="text" class="form-control" style="width: -webkit-calc(100% - 25px); width: calc(100% - 25px); display: inline-block;" value="<%= todayString %>" />
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<label class="control-label col-xs-12 col-sm-3 col-md-2">Reason:</label>
					<input type="text" name="nextContact[reason]" placeholder="Reason" class="form-control col-xs-12 col-sm-6 col-md-4" />
				</div>
			</fieldset>	
		</form>
		<script src="/js/jquery-1.10.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/moment.js"></script>
		<script src="/js/select2.js"></script>
		<script>
			$(function() {
				$('.createFollowup input[type=checkbox]').on('click', function(e) {
					var disabled = !e.currentTarget.checked;
					$('fieldset.createFollowup select').prop('disabled', disabled);
					$('fieldset.nextContact')[disabled ? 'fadeOut' : 'fadeIn']();
				});

				$('.createFollowup select').on('change', function(e) {
					var value = e.currentTarget.value,
						disabled = !value;
					$('fieldset.nextContact')[disabled ? 'fadeOut' : 'fadeIn']();

					if(!disabled) {
						var newDate = moment().startOf('hour');
						switch(value) {
							case 'q':
								newDate = newDate.add('month', 3);
								break;
							case 'm':
								newDate = newDate.add('month', 1);
								break;
							default:
								newDate = newDate.add(value, 1);
								break;
						}
						if(newDate.isValid()) {
 							$('.dateSection input[type=hidden]').val(newDate.format());
 							$('.dateSection input[type=text]').val(newDate.format('MMM D, YYYY h:mm A'));
 						}
					}
				});
				
				$('input[name=tags]').select2({
					tags: [<%= tags %>]
				});

				$(document).on('click', 'input[type=radio][name="nextContact[type]"]', function(e) {
					var canConfirm = (e.currentTarget.value === 'meeting' || e.currentTarget.value === 'call'),
						method = canConfirm ? 'removeClass' : 'addClass',
						$confirmContainer = $('.confirmGroup');

					$confirmContainer[method]('hide');
					$confirmContainer.find('input').prop('checked', canConfirm);
				});

				$(document).on('change', '.dateSection input[type=text]', function(e) {
					var value = e.currentTarget.value,						
						$hdn = $(e.currentTarget).parents('.form-group').find('input[type=hidden][name*=date]'),
						date = moment(value, 'MMM D, YYYY h:mm A'),
						isoString = date.format();

					$hdn.val(isoString);
				});
			});
		</script>
	</body>
</html>