/* phone */
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
body {
	padding-top: 70px;
}
nav.navbar-default {
	opacity: 0.9;
}
nav.navbar-default ul.dropdown-menu {
	opacity: 1;
}
nav .navbar-brand {
	font-size: 2em;
}
.appointment {
	cursor: pointer;
	min-height: 200px;
	border: solid 1px #eee;
}
.appointment:hover {
	background-color: #eee;
}
.appointment address > div {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.appointment > .well {
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.appointment > .well h4 {
	display: inline;
}
.map {
	height: 135px;
}
form { padding: 15px; }

.navbar form { padding: 0; }

form .select2-container {
	padding: 0;
}

.navbar-nav > li > form > .btn-link {
	color: #777;
}

.navbar-nav > li > form > .btn-link:hover,
.navbar-nav > li > form > .btn-link:focus {
	color: #333;
	text-decoration: none;
}

.phone-only { display: none; }

/* extra-small */
@media (max-width: 767px) {
	.not-phone { display: none; }
	.phone-only { display: inline-block; }
	.xs-auto { 
		width: auto;
		display: inline-block;
	}

	.navbar .btn-toolbar .btn-group { padding: 0; }

	.navbar .btn-toolbar .btn { font-size: 10px; }

	.panel {
		margin-bottom: 0;
	}
	.panel-heading {
		display: none;
	}
	.panel-body {
		padding: 0;
	}

	.appointment {
		margin-bottom: 10px;
	}

	.panel-danger .appointment h3,
	.panel-danger .appointment .icon-stack {
		color: #b94a48;
	}

	.panel-success .appointment h3,
	.panel-success .appointment .icon-stack {
		color: #3a87ad;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar .btn-toolbar .btn-group { padding: 0; }

	.not-tablet { display: none; }
}

/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* large */
@media (min-width: 1200px) {

}

