/* phone */
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
body {
	padding-top: 70px;
}
.appointment {
	cursor: pointer;
	min-height: 200px;
	border: solid 1px #eee;
}
.appointment:hover {
	background-color: #eee;
}
.appointment.overdue,
.appointment.overdue > .well,
.appointment.overdue.confirmed,
.appointment.overdue.confirmed > .well {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.appointment.confirmed,
.appointment.confirmed > .well {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.appointment address > div {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.appointment > .well {
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.appointment > .well h4 {
	display: inline;
}
.map {
	height: 135px;
}
form { padding: 15px; }

.navbar form { padding: 0; }

form .select2-container {
	padding: 0;
}

.navbar-nav > li > form > .btn-link {
	color: #777;
}

.navbar-nav > li > form > .btn-link:hover,
.navbar-nav > li > form > .btn-link:focus {
	color: #333;
	text-decoration: none;
}

/* extra-small */
@media (max-width: 767px) {
	.not-phone { display: none; }

	.navbar .btn-toolbar .btn-group { padding: 0; }

	.navbar .btn-toolbar .btn { font-size: 10px; }
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar .btn-toolbar .btn-group { padding: 0; }
}

/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* large */
@media (min-width: 1200px) {

}

