<% var overdueClass = d.overdue ? 'overdue' : ''; %>

<div class="appointment <%= overdueClass %> col-xs-12 col-sm-6 col-md-4 col-lg-3" data-target="<%= d.url %>">
	<div class="col-xs-8">
		<h3><%- d.firstName %> <%- d.lastName %></h3>

		<address>
			<strong><%- d.organization %></strong><br />
			<% if(d.address) { %>
				<% if(d.address.street) { %>
					<%- d.address.street %>
					<br />
				<% } %>
				<%- d.address.city %>
				<% if(d.address.city && d.address.province) { print(', '); } %>
				<%- d.address.province %>
				<% if(d.address.city && d.address.province) { %>
					<br />
				<% } %>
			<% } %>
			<% if(d.email) { %>
				<div>
					<abbr title="Email">E:</abbr>
					<a href="mailto:<%= d.email %>">
						<%= d.email %>
					</a>
				</div>
			<% } %>
			<% if(d.phones) { %>
				<% d.phones.forEach(function(phone) { %>
					<% if(phone.number) { %>
						<div>
							<abbr title="<%= phone.type%>"><%= phone.abbreviation %>:</abbr>
							<a href="tel:<%= phone.number %>"><%= phone.number %></a>
						</div>
					<% } %>
				<% }) %>						
			<% } %>
		</address>
	</div>
	<div class="col-xs-4" style="text-align: center">
		<div class="icon-stack" style="margin-top: 20px; margin-bottom: 10px;">
			<% if(d.nextContact.confirmed) { %>
				<i class="icon-calendar-empty icon-stack-base"></i>
				<i class="icon-border icon-phone"></i>
			<% } else { %>
				<i class="icon-stack-base icon-phone"></i>
			<% } %>
		</div>
		
		<% if(d.phones.length) { %>
		<h4>
			<a href="tel:<%= d.phones[0].number %>">
				<%= d.phones[0].number %>
			</a>
		</h4>
		<% } %>

		<% if(d.overdue) { %>
			<h4><%= d.nextContact.dateString %></h4>
		<% } %>

		<h5><%- d.nextContact.reason %></h5>
	</div>
	<div class="clearfix"></div>
	
	<% if(Array.isArray(d.tags) && d.tags.length) { %>
		<div class="col-xs-12 well" style="margin-bottom: 0">
			<% d.tags.forEach(function(tag) { %>
				<span class="badge"><%- tag %></span>
			<% }) %>
		</div>
	<% } %>
</div>