<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Resounding followups dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-modal.css">
		<link rel="stylesheet" href="../css/font-awesome.css">
		<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="../css/followup.css">
		<style>
		@media (max-width: 480px) {
			.navbar-header { padding-left: 5px; padding-right: 5px; }
		}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><i class="icon-home"></i> </a>
				<a class="navbar-brand" style="color: #ddd;">&nbsp;|&nbsp;</a>
				<a class="navbar-brand" href="/appointments/<%= queryStringDate %>" data-toggle="calendar">
					<%= dateString %>
					<i class="icon-calendar"></i>
					<input type="hidden" />
				</a>
			</div>		
			<div class="collapse navbar-collapse" style="max-height: none; overflow-y: visible;">
				<form class="navbar-form" action="/search" method="GET">
					<div class="input-group xs-auto col-sm-5 col-lg-6" style="padding-left: 0; padding-right: 0;">
						<input type="search" name="q" class="form-control hidden-xs" placeholder="Search" />	
						<span class="input-group-btn not-phone" style="padding: 0; border: 0;">		
							<button type="submit" class="btn btn-default">
								<i class="icon-search"></i>
							</button>
						</span>						
						<div class="btn-group phone-only">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="icon-search"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li style="padding: 5px;">
									<div class="input-group">
										<input type="search" name="q" class="form-control" placeholder="Search" style="width: 180px;" />	
										<span class="input-group-btn input-group-addon" style="padding: 0; border: 0;">		
											<button type="submit" class="btn btn-default">
												<i class="icon-search"></i>
											</button>
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="btn-group">
							<input type="hidden" name="tag" />
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="icon-tags"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">&gt; $5M</a></li>
								<li><a href="#">Fall Roadshow</a></li>
								<li><a href="#">Golf</a></li>
								<li class="divider"></li>
								<li><a href="#">Show All</a></li>
							</ul>
						</div>
					</div>	
					<div class="btn-group pull-right">			
						<a href="/people/new" class="btn btn-default navbar-link">
							<i class="icon-user"></i>
							<i class="icon-plus"></i>
							<span class="not-phone">Add client</span>						
						</a>
						<a href="/appointments/new" class="btn btn-default navbar-link">
							<i class="icon-calendar"></i>
							<i class="icon-plus"></i>
							<span class="not-phone">Add Appt</span>						
						</a>
					</div>
				</form>
			</div>
		</nav>

		<% appointments.forEach(function(appointment) { %>
			<% print(appointment); %>	
		<% }) %>

		<script src="../js/jquery-1.10.2.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/moment.js"></script>
		<script src="../js/bootstrap-datetimepicker.js"></script>
		<script>
		$(function() {
			$(document).on('click', 'form[action="/search"] ul.dropdown-menu a', function(e) {
				var $form = $('form[action="/search"]');
				$form.find('input[type=hidden]').val(e.currentTarget.innerText);
				$form.submit();
			});

			// don't close the dropdown when they click on search
			$(document).on('click', 'ul.dropdown-menu', function(e) {
				e.stopPropagation();
			});
			
			$('[data-toggle=calendar]')
				.datetimepicker({
					pickTime: false
				})
				.on('changeDate', function(e) {
					var date = moment(e.date),
						format = date.format('YYYYMMDD');
					window.location = '/appointments/' + format;
				});
		});
		</script>
	</body>
</html>